<div class="panel panel-default" ng-if="!isUserWall">
    <div class="panel-body">
        <h3>News feed</h3>
    </div>
</div>
<div class="panel panel-default" ng-if="isUserWall">
    <div class="panel-body">
        <h3>{{wallOwnerName}} </h3>
        <button class="btn btn-warning {{userHoverButtonType}}" ng-click="sendFriendRequest(post.author.username)">{{buttonName}}</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-md-offset-1">
        <div posts></div>
    </div>

    <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" ng-if="isFriendOrLoggedUser">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="message-input" class="form-group">
                        <div class="input-group">
                            <input type="text" ng-model="postContent" class="form-control" placeholder="Message...">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="submitPost(postContent)">Submit</button>
                            </span>
                        </div>
                        <a href="#/users/{{user.username}}">
                            <img src="" ng-src="{{user.profileImageData}}" alt="img" ng-if="user.profileImageData">
                            <span> as {{user.name}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Friends - <a href="#/users/{{username}}/friends">{{totalCount}}</a> total</h4>
            </div>
            <div class="panel-body">
                <div class="list-group">
                    <div class="friends-preview" ng-repeat="friend in friends">
                        <a href="#/users/{{friend.username}}" class="list-group-item">
                            <img src="" ng-src="{{friend.profileImageData}}" alt="{{friend.name}}" ng-if="friend.profileImageData"/>
                            <h4 class="list-group-item-heading">{{friend.name}}</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-sm-4 col-sm-offset-1 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1" friends-sidebar></div>
</div>
